{% extends "layout.html" %}

{%block content%}
    <!-- Navigation-->
    {%include "nav.html"%}
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h2 class="mb-0">I don't know what you are seeking for but it is not here </h2>
            </div>
        </section>
        
{%endblock%}