{% extends "layout.html" %}

{%block content%}
    <!-- Navigation-->
    {%include "nav.html"%}
    <div class="container-fluid p-0">
        <!-- About-->
        <section class="resume-section" id="about">
            <div class="resume-section-content">
                <h2 class="mb-0">Crap!!! Tt Broke, Try Getting Me Via E-Mail: Alex@vaiolabs.com </h2>
            </div>
        </section>
        
{%endblock%}