{%block about%}
<section class="resume-section" id="about">
    <div class="resume-section-content">
        <h1 class="mb-0">
            Alex M.
            <span class="text-primary">Schapelle</span>
        </h1>
        <div class="subheading mb-5">
            Somewhere Over Net · Always On-Line · (972)54-987-7509 ·
            <a href="mailto:alex@vaiolabs.com">Alex@vaiolabs.com</a>
        </div>
        <p class="lead mb-5">
            Hello there gentle web surfer. Welcome to my page. My name Alex M. Schapelle, AKA Silent-Mobius or Zero-Pytagoras, named after unique containers that I've ever created. <br>
            I prefer to address myself as "Linux and OpenSource" Person, mainly because I love those topics, yet also due to fact, that I never finished my formal studies.<br>
            What I did accomplish instead is as follows: <br>
                <ul>
                    <li>I've become Certified IT instructor and gained proven hands-on skills of IT, HW development and SW development. With love for teaching came deep understanding of CI/CD/CM from DevOps methodology, electronics/IoT design and implementation, installer automation for UNIX/Linux systems and many other topics. </li>

                    <li>Most of my recent extensive experience, comes from building functional integration and deployment pipelines. </li>
                    <li>In case you prefer to see the list of skills, here you have it: </li>
                        <ul>
                            <li> Proven IT skills: </li>
                                <ul>
                                        <li>Server and Desktop Hardware</li>
                                        <li>Network design and implementation</li>
                                        <li>Security design and implementation</li>
                                        <li>Infrastructure design and implementation</li>
                                        <li>Storage design and implementation</li>
                                        <li>IAAS/PAAS/SAAS/DBAAS/Cloud automation</li>
                                        <li>Virtualization platform automation</li>
                                        <li>Standard and Custom monitoring automation</li>
                                </ul>
                        <li> Proven Development skills:</li>
                            <ul>
                                <li>Fullstack development</li>
                                <li>Tool development with <em>python</em></li>
                                <li>System development with <em>python</em> and <em>GO</em></li>
                                <li>SQL and NoSQL database setup, administration and development</li>
                                <li>On-prem/Cloud infrastructure automation development with bash, python, Go, Ansible, Terraform and so on</li>
                            </ul>
                        <li> Certified Instructor with emphasis on teaching Attention Deficit Hyperactivity Disorder (ADHD) individuals and groups.</li>
                        <li> IoT/Soc/RoHS/RPI/Pine64/Radxa Hobbyist and Enthusiast.</li>
                    </ul>
            </ul>
            So essentially I teach/train bunch of geek stuff and enjoy myself while doing that.<br>
            You can find me on my humble social accounts or you can leave me a message, <br>
            in case you have interesting OpenSource projects and/or participation in them.
        </p>
        <div class="social-icons">
            <a class="social-icon" href="https://linkedin.com/in/alex-schapelle"><i class="fab fa-linkedin-in"></i></a>
            <a class="social-icon" href="https://gitlab.com/silent-mobius"><i class="fab fa-gitlab"></i></a>
            <a class="social-icon" href="https://github.com/zero-pytagoras"><i class="fab fa-github"></i></a>
            <a class="social-icon" href="https://dev.to/silent_mobius"><i class="fas fa-layer-group"></i></a>
        </div>
    </div>
</section>
{%endblock%}
