{%block education%}
<section class="resume-section" id="education">
    <div class="resume-section-content">
        <h2 class="mb-5">Education</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Ort Singalovsky College</h3>
                <div class="subheading mb-3">Associate Degree</div>
                <div>Computer Science - Software Development Track</div>
                <p>Incomplete</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">October 2010 - June 2012</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Handesaim at Afeka College</h3>
                <div class="subheading mb-3">Associate Degree</div>
                <div>Computer Science - Software Development Track</div>
                <p>Incomplete</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">October 2014 - July 2015</span></div>
        </div>
    </div>
</section>

{%endblock%}
