{%block experience%}

<section class="resume-section" id="experience">
    <div class="resume-section-content">
        <h2 class="mb-5">Experience</h2>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Senior DevOps Engineer</h3>
                <div class="subheading mb-3">Mobileye - An Intel Company</div>
                <p> .</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">January 2023 - Present</span></div>
        </div>        
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Senior DevOps Engineer</h3>
                <div class="subheading mb-3">Scadafence OT Security</div>
                <p> .</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">March 2021 - December 2022</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Senior DevOps Engineer</h3>
                <div class="subheading mb-3">CyberArk CyberSecurity</div>
                <p> .</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary"> February 2020 - March 2021</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">DevOps Engineer</h3>
                <div class="subheading mb-3">ARShow Digital</div>
                <p> .</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">July 2017 - June 2019</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Qualification Engineer</h3>
                <div class="subheading mb-3">Applied Material Contractor</div>
                <p> .</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2016 - 2017</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Linux and DevOps Institute</h3>
                <div class="subheading mb-3">InterBit/IITC College</div>
                <p> .</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2015 - 2018</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">DevOps & Pen-Tester</h3>
                <div class="subheading mb-3">Jenovice Cyber Labs</div>
                <p> .</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2012 - 2015</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0"> Tech Support</h3>
                <div class="subheading mb-3">Ceragon Networks</div>
                <p> .</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2010 - 2011</span></div>
        </div>
        <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
            <div class="flex-grow-1">
                <h3 class="mb-0">Junior System Administrator</h3>
                <div class="subheading mb-3">CSW Customer Support Services</div>
                <p> .</p>
            </div>
            <div class="flex-shrink-0"><span class="text-primary">2008 - 2010</span></div>
        </div>
    </div>
</section>

{%endblock%}
