{% extends "layout.html" %}

{%block content%}
    <!-- Navigation-->
    {%include "nav.html"%}
    <!-- Page Content-->
    <div class="container-fluid p-0">
        <!-- About-->
            {%include "about.html"%}
        <hr class="m-0" />
        <!-- Experience-->
            {%include "experience.html"%}
        <hr class="m-0" />
        <!-- Education-->
        {%include "education.html"%}

        <hr class="m-0" />
        <!-- Skills-->
        {%include "skills.html"%}

        <hr class="m-0" />
        <!-- Interests-->
        {%include "interests.html"%}

        <hr class="m-0" />
        <!-- Awards-->
        {%include "awards.html"%}

        <hr class="m-0" />
        <!-- Projects-->
        {%include "projects.html"%}
        
        <hr class="m-0" />
       <!-- E-Mail-->
       {%include "mail.html"%}

       <hr class="m-0" />
    </div>
{%endblock%}
