{%block interests%}
<section class="resume-section" id="interests">
    <div class="resume-section-content">
        <h2 class="mb-5">Interests</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fa-solid fa-location-dot"></i></span>
                Being workaholic means, in some manner, enjoying what I do, and my interests are what I enjoy to do. 
                Usually I love reading about advancements in electronics and robotics, and trying by myself to tweak with it as much as possible
            </li>
            <li> 
                <span class="fa-li"><i class="fa-solid fa-location-dot"></i></span>
                Apart from being a Linux and OpenSource person, I also like doing some activities, mostly trying in and out country cuisines.
                Dancing used to be my passion, but Coved-19 happened, and then aged caught up to me and now I mostly, 
                looking on other people bust some moves on the dance floor, 
                and be excited that kids half of my age do it better.
            </li>
            <li class="mb-0">
                <span class="fa-li"><i class="fa-solid fa-location-dot"></i></span>
                When forced indoors, I usually prefer to cook barbecue with my family, while also watch anime or read manga. 
                In more interactive way, I always enjoy escape rooms, and also playing Warhammer 40k.
                Yes! I am a total nerd, in a good way, despite fact that I love Warhammer 40k.
            </li> 
        </ul>
    </div>
</section>

{%endblock%}
