{%block mail%}
<section class="resume-section" id="contact">
    <div class="resume-section-content">
        <h2 class="mb-5">Leave Your E-Mail</h2>
        <p>And I'll Contact You</p>
            <form action="" method="post" role="form">
                <div class="col-lg-8 col-lg-offset-2">
                    {{ form.hidden_tag() }}
                    <div class="row control-group">
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>{{ form.username.label }}</label>
                                    {{ form.username(class_="form-control",id="email",size=32) }}
                    <div class="row control-group">
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label> {{ form.usermail.label }}</label>
                                    {{ form.usermail(class_="form-control",id="email",size=32) }}
                        </div>
                        <div class="form-group col-sm-6 floating-label-form-group controls">
                            <label>{{ form.usercell.label }}</label>
                                {{ form.usercell(class_="form-control",id="cell",size=32) }}
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-6 floating-label-form-group controls">
                            <label>{{ form.usermsg.label }}</label>
                                {{ form.usermsg(class_="form-control",id="meassage",size=128) }}
                        </div>
                    </div>
                </br>
                            <div class="form-group col-xs-12">
                                {{ form.submit(class_="btn btn-outline-warning pull-right btn-sm") }}
                            </div>
                </div>
            </form>
    </div>
</section>

{%endblock%}
