{%block projects%}
<section class="resume-section" id="projects">
    <div class="resume-section-content">
        <h2 class="mb-5">Custom Projects</h2>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fa-solid fa-trowel-bricks"></i></span>
                <em>Mazin-Docker</em> Container RestAPI Manager based on flask, docker-sdk and docker-compose. <br>
                There is also GoLang implementation that is in progress.
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-trowel-bricks"></i></span>
                <em>Clock Work Orange</em> RestAPI Ansible Playbook runner, based on fastapi, tinydb, ansible libraries and git.
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-trowel-bricks"></i></span>
                <em>Slide5</em> Flask based markdown parser to show content as html page.
            </li>
            <li>
                <span class="fa-li"><i class="fa-solid fa-trowel-bricks"></i></span>
                <em>Linux Training Book</em>

            </li>
        </ul>
    </div>
</section>

{%endblock%}
