{%block skills%}
<section class="resume-section" id="skills">
    <div class="resume-section-content">
        <h2 class="mb-5">Skills</h2>
        <div class="subheading mb-3">Programming Languages & Tools</div>
        <ul class="list-inline dev-icons">
            <li class="list-inline-item"><i class="fa-brands fa-osi"></i></li>
            <li class="list-inline-item"><i class="fab fa-linux"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-freebsd"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-windows"></i></li>            
            <li class="list-inline-item"><i class="fa-solid fa-terminal"></i></li>
            <li class="list-inline-item"><i class="fab fa-git"></i></li>
            <li class="list-inline-item"><i class="fab fa-gitlab"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-github"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-jenkins"></i></li>
            <li class="list-inline-item"><i class="fab fa-python"></i></li>
            <li class="list-inline-item"><i class="fab fa-node"></i></li>
            <br/>
            <li class="list-inline-item"><i class="fa-brands fa-golang"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-rust"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-docker"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-database"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-server"></i></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-digital-ocean"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-linode"></i></li>            
            <li class="list-inline-item"><i class="fa-brands fa-aws"></i></li>
            <li class="list-inline-item"><i class="fa-solid fa-infinity"></i></li>
            <li class="list-inline-item"><i class="fa-brands fa-raspberry-pi"></i></li>
        </ul>
        <div class="subheading mb-3">Workflow</div>
        <ul class="fa-ul mb-0">
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Continuous Integration
            </li>                    
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Continuous Deployment/Delivery
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Test Driven Development
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cross Functional Teams
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Agile Development & Scrum
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Heterogenetic Environment Administration
            </li>
            <li>
                <span class="fa-li"><i class="fas fa-check"></i></span>
                Cloud Deployment Automation
            </li>
        </ul>
    </div>
</section>

{%endblock%}
